body{
background-color: #D1CFD0;
padding: 10px;
}

.btn-login{
font-size: 100%;
font-weight: bold;
background-color: #0688C1;
color: white;
padding: 10px;
border-radius: 18px;
margin-top: 20px;
width: 100%;
}

.btn-login:hover{
background-color: white;
color: #0688C1;
}

.login-form{
	text-align: center;
}
